<section >
  <md-toolbar ng-show="!showSearch">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu" hide-gt-md ng-click="toggleLeft()">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Logo" hide show-gt-md>
        <img class="logo" src="assets/icon/logo_black.png" >
      </md-button>
      <h3 hide show-gt-md>
        <a href="/#/stacks">Stack</a>
      </h3>
      <span flex></span>
      <section ng-controller="AuthController">
        <md-menu md-position-mode="target-left target" ng-if="isAuthenticated()" hide show-gt-md>
          <md-button aria-label="Open demo menu" class="md-icon-button" style="height: 60px!important; width: 60px!important" ng-click="$mdOpenMenu($event)">
            <img src="[[user.picture]]" class="avatar">
          </md-button>

          <md-menu-content width="4" >
            <md-menu-item>
              <md-button ng-click="logout()">
                  <div layout="row" flex>
                    <p flex>Logout</p>
                    <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </section>
    </div>
  </md-toolbar>

    <md-content layout="column">

      <span class="md-subhead"> <a href="/#/stacks">Back to Stack View<a></span>
      <div layout-align="center center" style="padding: 20px; background:#E0E0E0">
          <span><b>DRAFT PAGE:</b> Please help us. Fork <a href="https://github.com/marcuslacerda/stack-gallery">this repo</a> and send your pull request.</span>
      </div>

      <div layout="row">
        <div layout="row">
          <md-button class="md-icon-button md-primary" aria-label="Spreadsheet" target="_blank" ng-href="https://docs.google.com/spreadsheets/d/[[key]]" ga-track-event="['action', 'open']">
            <md-icon md-svg-src="/assets/icon/file-excel.svg" style="color: green; padding-top:10px"></md-icon>
          </md-button>

          <div layout="row" layout-align="center top">
            <md-input-container class="md-block">
              <label>Name</label>
              <input ng-model="stack.name" disabled>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Owner</label>
              <input ng-model="stack.owner" disabled>
            </md-input-container>
          </div>
        </div>
        <div>
          <div style="height: 130px">
            <nvd3 options="chartOptions" data="memoryChartData"></nvd3>
          </div>
        </div>
      </div>

      <span>Last updated by <b>[[stack.last_activity_user]]</b></span>

      <div layout="row">

        <div flex-gt-sm="50" flex>
          <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools" layout-align="center center">
              <span>Technologies</span>
            </div>
          </md-toolbar>

          <md-content>

            <md-list class="md-dense" flex>
              <md-list-item class="md-3-line" ng-repeat="item in stack.stack" ng-href="https://techgallery.ciandt.com/#/technologies/[[item.technology]]" target="_blank">
                <img ng-src="[[item.imageUrl]]" class="md-avatar" alt="[[item.technologyName]]" />
                <div class="md-list-item-text" layout="column">
                  <h3>[[item.technologyName]]</h3>
                  <!-- <p>TODO: requirements and achieve</</p> -->
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </div>

        <div flex-gt-sm="50" flex>
          <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools" layout-align="center center">
              <span>Team</span>
            </div>
          </md-toolbar>

          <md-content>
            <md-list flex>
              <md-list-item class="md-3-line" ng-repeat="item in stack.team">
                <img ng-src="[[item.image]]" class="md-avatar" alt="[[item.name]]" />
                <div class="md-list-item-text" layout="column">
                  <h3>[[item.name]]</h3>
                  <h4>[[item.login]]@ciandt.com</h4>
                  <!-- <p>TODO: tech profile</p> -->
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </div>
      </div>

    </md-content>


</section>
